.header{
    background-color: rgb(249, 218, 200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px;
    padding-bottom: 0%;
    gap: 200px;
}
.btn{
    color: black;
    background-color: rgb(255, 0, 0);
    font-size: 25px;
}
.img{
    width: 500px;
    padding-bottom: none;
}
.title{
    font-size: 50px;
}
.description{
    font-size: 20px;
}